[Desktop Entry]
Name=Manjaro10XC
X-KDE-PluginInfo-Author=hyperstown
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=hyperstown@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Manjaro10XC
X-KDE-PluginInfo-Version=1.0
